@model IEnumerable<ModalPopup.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@



<div id="PlaceHolderHere"></div>

<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addEmployee"
        data-url="@Url.Action("Create")">新建</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addEmployee"
                            data-url="@Url.Action("Edit","Employees",new { id=item.Id})">
                        編輯
                    </button>

                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addEmployee"
                            data-url="@Url.Action("Details","Employees",new { id=item.Id})">
                        明細
                    </button>

                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addEmployee"
                            data-url="@Url.Action("Delete","Employees",new { id=item.Id})">
                        刪除
                    </button>

                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                      @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
